@use '../../../variables' as vars;

.site-footer {
  background-color: vars.$primary-color;
  text-align: center;
  padding: 1.5rem 0;
  color: #fff;
  margin-top: 2rem;

  p {
    margin: 0.5rem 0;
  }

  .social-links {
    margin-top: 0.5rem;

    a {
      color: #fff;
      text-decoration: none;
      margin: 0 0.25rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
