<div class="contact-section" id="contact">
  <h2>Contact Us</h2>
  <p>
    Have a project or idea you want to discuss? Fill out the form or email me
    at <a href="mailto:z.putra.anugrah101@gmail.com">z.putra.anugrah101&#64;gmail.com</a> to get started.
  </p>
  <p>
    In the form, please include details like your project's scope,
    timeline, and budget (if known). The more info you provide, the better
    I can help!
  </p>
  <a
    class="contact-button"
    href="https://docs.google.com/forms/d/e/1FAIpQLSesiLonukIwEq_dSx8JVRVDFeEHhPjfClwzQgqmYrW9wn9y2A/viewform?usp=dialog"
    target="_blank"
    rel="noopener noreferrer"
  >
    Request a Quote
  </a>
</div>
